@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Love+Light&display=swap');

.heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    color: rgb(19, 16, 2);
    position: fixed;
    padding-left: 40%;
    text-decoration: underline;  
      
}

.header{
    font-size: 1.7rem;
    font-weight: bold;
    color: gold;
    padding-top: 6rem;
    min-width: 250px;
    
}

.row{
    font-size: 1.2rem;
    color: blanchedalmond;
    min-width: 250px;
    text-justify: distribute;
    padding-top: 20px;
}

