.forexPage{
    background-color: lightblue;
    text-align: center;
}

.forex{
    display: flex;
    padding: 20px;
    color: lightblue;
    font-size: large;
    width: 500px;
}

.forex:hover{
    font-size: x-large;
    color:lightskyblue;
    font-weight: bold;
}

.heading{
    font-size: 50px;
    color: lightskyblue;
    font-weight: bolder;
    font-style: italic;
    position: fixed;
    padding-left: 50%;
}
