nav{
    background-color: rgb(218, 190, 29);
    min-height: 60px;
    text-align: start;
    
}


.button {
    background-color: #2a94bebe;  
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .button:hover{
      background-color:honeydew;
      color: black;
  }